In [31]:
#swap the position of 34 and 20 in the given list using one line of code when you swap make sure the numbers are in lowest to highest number.
            #0    1  2  3   4   5   6  7  8  9  10  11  12  13
new_list = [44, 32, 5, 12, 0, 35, 20, 1, 4, 9, 56, 22, 34, 24]

new_list[-2],  new_list[6]

print(new_list)

[44, 32, 5, 12, 0, 35, 20, 1, 4, 9, 56, 22, 34, 24]

In [115]:
#swap the position of 34 and 20 in the given list using one line of code when you swap make sure the numbers are in lowest to highest number. 

new_list = [44, 32, 5, 12, 0, 35, 20, 1, 4, 9, 56, 22, 34, 24]

new_list[6], new_list[-2] = new_list[-2], new_list[8]

print(new_list)

[44, 32, 5, 12, 0, 35, 34, 1, 4, 9, 56, 22, 4, 24]

In [136]:
#swap the position of 44 and 24 in the given list using one line of code

new_list = [44, 32, 5, 12, 0, 35, 20, 1, 4, 9, 56, 22, 34, 24]

new_list[0], new_list[-1], = new_list[-1], new_list[0]

print(new_list)

[24, 32, 5, 12, 0, 35, 20, 1, 4, 9, 56, 22, 34, 44]

In [32]:
#swap the position of 32 and 22 in the given list using one line of code
                                        
new_list = [44, 32, 5, 12, 0, 35, 20, 1, 4, 9, 56, 22, 34, 24]

new_list[13], new_list[0], = new_list[2], new_list[1]

print(new_list)

[32, 5, 5, 12, 0, 35, 20, 1, 4, 9, 56, 22, 34, 24]

In [2]:
#swap the position of 32 and 22 in the given list using one line of code
#            0                                              13                  
new_list = [44, 32, 5, 12, 0, 35, 20, 1, 4, 9, 56, 22, 34, 24]

new_list[13], new_list[0], = new_list[0],new_list[13]

print(new_list)

[24, 32, 5, 12, 0, 35, 20, 1, 4, 9, 56, 22, 34, 44]

In [3]:
#swap the position of 32 and 24 in the given list using one line of code

new_list = [44, 32, 5, 12, 0, 35, 20, 1, 4, 9, 56, 22, 34, 24]

new_list[1], new_list[13], = new_list[13], new_list[1]

print(new_list)

[44, 24, 5, 12, 0, 35, 20, 1, 4, 9, 56, 22, 34, 32]

In [5]:
#swap the position of 32 and 24 in the given list using one line of code

new_list = [44, 24, 5, 12, 0, 35, 20, 1, 4, 9, 56, 22, 34, 32]

new_list[-12], new_list[-4], = new_list[-4], new_list[-12]

print(new_list)

[44, 24, 56, 12, 0, 35, 20, 1, 4, 9, 5, 22, 34, 32]

In [8]:
new_list = [[1,3,4,2], [3,2,2,1], [7,3,2,9,1]]

new_list[0], new_list[2] = new_list[2], new_list[0]

print(new_list)

[[7, 3, 2, 9, 1], [3, 2, 2, 1], [1, 3, 4, 2]]

In [9]:
names_of_student = ["Francis", "James", "Jim", "Lucy"]

names_of_student[0], names_of_student[3] = names_of_student[3], names_of_student[0]

print(names_of_student)

['Lucy', 'James', 'Jim', 'Francis']

In [11]:
names_of_student = [["Francis", "James"], ["Jim" ,"Lucy"]]

names_of_student[0][0], names_of_student[1][1] = names_of_student[1][1], names_of_student[0][0]

print(names_of_student)

[['Lucy', 'James'], ['Jim', 'Francis']]

In [32]:
names_of_student = [["Francis", "James"], ["Jim" ,"Lucy"], "Lucky", ]

student_at_second = names_of_student[1][1]
student_at_third = names_of_student[0][1]

print(student_at_second, student_at_third)

Lucy James

In [9]:
# Question: Take the List of the products and print out one product from each sublist

products = [['mango', 'orange', 'apple'], ['sugar', 'salt', 'water'], ['tea', 'bread', 'phone'], 'groundnut']

first_product_list = products[0][2]
second_product_list = products[1][-2]
third_product_list = products[2][-3]
forth_product_list = products[-1]



print(first_product_list)
print(second_product_list)
print(third_product_list)
print(forth_product_list)

apple
salt
tea
groundnut

In [ ]:
Augmented Assignment Operator
=



+= addition with =
-= substraction with =
*=
/=
%=

In [16]:
no_of_eggs = 10

no_of_eggs += 2

print(no_of_eggs)

12

In [17]:
count = 100

count +=90

print(count)

190

In [18]:
tally = 0


tally +=10

print(tally)

10

In [19]:
tally = 20


tally /=10

print(tally)

2.0

In [20]:
multi = 3

multi *= 3

print(multi)

9

In [11]:
fnames = "francis"
lname = "john"

fnames += lname

    
print(fnames)

francisjohn